.QuizPage{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 80px;
}
.QuizQuestionContainer{
  align-self: center;
  width: 100%;
  border: 2px solid black;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}
.QuizQuestion{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  background-color: rgb(68, 199, 245);
  padding-top: 10px;
  padding-bottom: 10px;
}
.QuizOptionRadio{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}
.QuestionNumber{
  text-align: left;
  padding-left: 10px;
}
.CalculateButton{
  width: 30%;
  align-self: center;
  padding: 8px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
}
